benchmarks/make/*
!benchmarks/*/Dockerfile
!benchmarks/*/build.sh
!benchmarks/*/sparrow-config.json

bingo/prune-cons/prune-cons
bingo/prune-cons/prune-cons-unopt
bingo/prune-cons/keep-derivable
bingo/driver
bingo/generator
bingo/visualizer
bingo/equipTDU

benchmarks/*/*/sparrow-out

__pycache__/

setenv

result

_build
.merlin

history.txt
.visualizer-history.txt

.DS_Store
._*

*.dot
*.svg
*.pdf

learn.log
rules
learn-out*
weight-learn-out*
test-*
!test-em.py

marshal
log.txt

# data
report.txt
*.log
driver.out
*.csv
